@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: #5ac05a;
}

nav {
    background-color: #868686;
    text-align: center;
}

li {
    display: inline-block;
}

li>a,
li {
    padding: 20px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

li>a {
    padding: 20px;
}

#text-block {
    background-color: #0e590e;
    padding: 30px;
}

main>p,
div>p {
    padding: 30px;
}

main {
    width: 80%;
    margin: 30px auto;
}

main>img,
div>img {
    margin-top: 30px;
    width: 100%;
}

#selected {
   background-color: #b4d6a4;
}
